.translate {
	&-container {
		display: flex;
		flex-direction: column;
	}

	&-area {
		position: relative;
	}

	&-item {
		width: 500px;
		background-color: $dark-color;
		color: $light-color;
		margin: 30px 20px 0 0;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		min-height: 175px;
		z-index: 999;
	}

	&-input {
		resize: none;
		overflow: hidden;

		&::placeholder {
			color: $light-color;
		}

		&:focus {
			outline: 0;
		}
	}

	&-button {
		display: block;
		margin-top: 30px;
		border: none;
		padding: 5px;
		border-radius: 10px;
		background-color: $muted-color;
		color: $light-color;
		cursor: pointer;
		float: right;
		position: absolute;
		bottom: 10px;
		left: 500px;

		&-active {
			color: $info-color !important;
			pointer-events: none;
			cursor: pointer;
			z-index: 999;
		}
	}
}
