@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Colors */
$primary-color: #0275d8;
$secondary-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$text-dark: #292b2c;
$text-white: #f7f7f7;

/* Fonts */
$primary-font: 'Roboto', sans-serif;
