@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Colors */
$primary-color: #0275d8;
$secondary-color: #5cb85c;
$info-color: #14bcc8;
$muted-color: #ecf0f1;
$warning-color: #f0ad4e;
$danger-color: #ff7e70;
$dark-color: #292b2c;
$white-color: #f7f7f7;

/* Fonts */
$primary-font: 'Roboto', sans-serif;
