@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Colors */
$primary-color: #0275d8;
$secondary-color: #5cb85c;
$info-color: #6cc0e5;
$muted-color: #363636;
$warning-color: #f0ad4e;
$danger-color: #ff7e70;
$dark-color: #484848;
$light-color: #ddd;
$space-color: #181b20;

/* Fonts */
$primary-font: 'Roboto', sans-serif;
