@import './reset';
@import './variables';
@import './astranaut';
@import './translate-items';
@import './utils.scss';

body {
	background-color: $space-color;
	font-family: $primary-font;
	overflow: hidden;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
}

.title {
	margin-top: 20px;
	color: $light-color;
}

@media screen and (max-width: 900px) {
	body {
		overflow: scroll;
	}
}
