@import './reset';
@import './variables';
@import './translate-items';

body {
	background-color: #ddd;
	font-family: $primary-font;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.translate-container {
	display: flex;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.5rem;
}
